<body style="background-image:url('https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg');">
    <center>
    <div class="container" style="margin-top:10%">
        <h1 class="mb-1" style="font-size:70px;">Sitemize Hoşgeldiniz</h1>
        <h3 class="mb-5" style="font-size:25px;">
          <em>Fototipce ile Resimlere Hazır Olun</em>
        </h3>
            <p><%= link_to "Haydi Başlayalım",'/posts' %></p>
      </div>
      </center>
</body>


   
